html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #FFFFFF;
}

h2, h3 {
	margin: 0 !important;
}

.main-header {
	background-color: #e74c39;
	height: 50px;
	width: 100%;
}

.header-img {
	margin-left: 0;
	padding-top: 10px;
	position: relative;
	width: 120px;
}

.responsiveNavbar {
	padding: 0 !important;
	z-index: 1000;
}

.responsiveNavbar .dropDownButton {
	background-color: #f1f1f1;
	border: none;
	color: #373A36;
	padding: 10px 15px;
	text-align: left;
	width: 100%;
}

.responsiveNavbar .dropDownButton:focus {
	outline: none;
}

.responsiveChapterUl {
	background-color: #f1f1f1;
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

.responsiveChapterUl li {
	padding: 10px 15px 5px;
}

.desktopMenu .side-menu {
	background-color: #f1f1f1;
	border-radius: 3px;
	color: #373a36;
	font-family: Source Sans Pro;
	margin-top: 60px;
	margin-bottom: 60px;
	width: 350px;
}

.fixed-desktop {
	display: block;
	margin-top: -30px !important;
	position: fixed;
}

.fixed-mobile {
	display: block;
	margin-top: -50px !important;
	position: fixed;
}

.desktopMenu .menu-li {
	padding: 17px;
}

.chapter-menu {
	margin-bottom: 0;
}

.chapter-menu h2 {
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 7px;
}

.chapter-menu h3 {
	font-size: 15px;
	line-height: 22px;
}

.changing-container {
	margin-top: 70px;
	position: relative;
}

.changing-container h3 {
	color: #e74c39;
	font-family: Source Sans Pro;
	font-size: 45px;
	margin-bottom: 15px;
	margin-top: 25px;
	text-align: left;
}

.changing-container h4 {
	color: #373a36;
	font-family: Source Sans Pro;
	font-size: 30px;
	margin-bottom: 30px;
	text-align: left;
}

.sub-header {
	font-family: Source Sans Pro;
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 15px;
	margin-top: 15px;
}

.main-content {
	font-family: Source Sans Pro;
	font-size: 17px;
	font-weight: 300;
	line-height: 170%;
	margin-bottom: 15px;
}

.lower-point {
	color: #373a36;
	font-family: Source Sans Pro;
	font-size: 17px;
	font-weight: 600;
	line-height: 170%;
}

#chart-img {
	display: block;
	position: relative;
	margin: 0 auto 30px;
	width: 650px;
}

#cycle-image {
	display: block;
	margin: 0 auto 30px;
	position: relative;
	width: 650px;
}

.comprehension-questions-section {
	border-radius: 3px;
	margin-bottom: 0;
	margin-top: 30px;
	padding-bottom: 30px;
}

.comprehension-questions-header {
	color: #373a36;
	font-family: Source Sans Pro;
	font-size: 23px;
	padding-left: 0;
	padding-top: 15px;
}

.comprehension-questions {
	background-color: #f1f1f1;
	border-radius: 3px;
	color: #373a36;
	font-family: Source Sans Pro;
	font-size: 17px;
	font-weight: 600;
	margin: 15px 0;
	padding: 25px;
	padding-bottom: 15px;
}

.answer-options {
	font-family: Source Sans Pro;
	font-size: 17px;
	line-height: 150%;
	margin-bottom: 5px;
	margin-left: 0;
	margin-top: 15px;
}

#button-one, #button-two, #button-three, #button-four, #button-five, #button-six {
	margin-bottom: 20px;
	text-align: right;
}

#submit-button-one, #submit-button-two, #submit-button-three, #submit-button-four, #submit-button-five, #submit-button-six {
	background-color: #0099ff;
	border: none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: none;
	font-family: Source Sans Pro;
	font-size: 17px;
	padding: 10px 20px;
}

.complete-text {
	color: #373a36;
	cursor: pointer;
}

.salmon-highlight {
	background-color: #e74c39;
	color: #fff;
	cursor: pointer;
}

.white-text {
	color: #fff;
}

.disabled-text {
	color: #bfbfbf;
}

.chapter2, .chapter3, .chapter4, .chapter5, .chapter6 {
	display: none;
}

.indented-section {
	margin-left: 75px;
}

.correctAnswer {
	background-color: #5db5f0;
}

.wrongAnswer {
	background-color: #e74c39;
}

.final {
	display: none;
}

.final h4 {
	line-height: 1.25;
}

.final a:link {
	color: #373a36;
	cursor: pointer;
	text-decoration: underline;
}

.final a:visited {
	color: #373a36;
	text-decoration: underline;
}

.radioInput {
	margin-right: 5px !important;
}

label {
	display: block !important;
	font-weight: normal !important;
}

@media (max-width: 1199px) {
	.desktopMenu .side-menu {
		width: 285px;
	}
}

@media (max-width: 991px) {
	.desktopMenu .side-menu {
		width: 210px;
	}
	#chart-img {
		width: 470px;
	}
	#cycle-image {
		width: 470px;
	}
}

@media (max-width: 767px) {
	.changing-container {
		margin-top: 30px;
		position: relative;
	}
	#chart-img {
		width: 100%;
	}
	#cycle-image {
		width: 100%;
	}
}
