html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #FFFFFF;
}

.main-header {
	width: 100%;
	height: 60px;
	background-color: #e74c39;
	position: fixed;
	z-index: 1;
}

.header-img {
	width: 150px;
	display: block;
	position: relative;
	margin-left: 20px;
	padding-top: 12px;
}

.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.side-menu {
	width: 240px;
	position: fixed;
	display: inline-block;
	float: left;
	padding-left: 10px;
	margin-right: 15px;
	background-color: #F1F1F1;
	border-radius: 5px;
	font-family: Source Sans Pro;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #373a36;
	margin-top: 90px;
	margin-bottom: 30px;
}

.chapter-menu li {
	padding: 17px;
	margin-right: 10px;
}

.chapter-menu h2 {
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 7px;
	color: #373A36;
}

.chapter-menu h3 {
	font-size: 15px;
	color: #373A36;
}

.changing-container {
	width: 655px;
	position: relative;
	display: inline-block;
	float: right;
	padding-right: 10px;
	margin-left: 15px;
	margin-top: 80px;
}

.changing-container h3 {
	text-align: left;
	font-family: Source Sans Pro;
	color: #e74c39;
	font-size: 45px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.changing-container h4 {
	text-align: left;
	font-family: Source Sans Pro;
	font-size: 30px;
	margin-bottom: 30px;
	color: #373A36;
}

.sub-header {
	font-family: Source Sans Pro;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 15px;
	margin-top: 15px;
}

.main-content {
	line-height: 170%;
	font-family: Source Sans Pro;
	text-align: justify;
	margin-bottom: 15px;
	font-size: 17px;
	font-weight: 300;
}

.lower-point {
	font-weight: 600;
	line-height: 170%;
	font-family: Source Sans Pro;
	font-size: 17px;
	color: #373A36;
}

#chart-img {
	display: block;
	position: relative;
	margin-right: auto;
	margin-right: auto;
	width: 650px;
	margin-bottom: 30px;
}

.comprehension-questions-section {
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 5px;
	padding-bottom: 15px;
}

.comprehension-questions-header {
	font-family: Source Sans Pro;
	color: #373A36;
	font-size: 23px;
	padding-top: 15px;
	padding-left: 15px;
}

.comprehension-questions {
	background-color: #0099FF;
	color: #373A36;
	padding: 15px;
	font-family: Source Sans Pro;
	margin: 15px;
	border-radius: 5px;
	font-size: 17px;
	padding-bottom: 15px;
	font-weight: 600;
}

.answer-options {
	font-family: Source Sans Pro;
	font-size: 17px;
	margin-top: 15px;
	line-height: 150%;
	margin-left: 30px;
}

.button {
	margin-left: auto;
	margin-right: auto;
	width: 120px;
}

.submit-button {
	font-family: Source Sans Pro;
	font-size: 17px;
	width: 120px;
	background-color: #0099FF;
	color: #373A36;
	border-radius: 5px;
	border: none;
	height: 40px;
	display: none;
	
}

.salmon-highlight {
	background-color: #E74C39;
	color: #FFFFFF;
}

.white-highlight {
	background-color: #FFFFFF;
}

.chapter2, .chapter3, .chapter4, .chapter5, .chapter6 {
	display:none;
}

.indented-section {
	margin-left: 75px;
}

.correctAnswer {
	background-color: #79ad37;
}

.wrongAnswer {
	background-color: #b94a48;
}













